{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Contact Us{% endblock %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% block content %}


<div class="view overlay z-depth-1-half">
  <img class="card-img-top" src= "{% static 'images/rainforest.jpg' %}" style="height: 50% ; width: 100%"; alt="rainforest">
  <div class="mask rgba-white-light"></div>
  <div class="col-md-12">
    <hr>
    <h5 style="font-weight: 20px; font-family:cursive; font-size: 25px; color: red;">Our Offices</h5>
    <hr>
    <p  style="font-family: sans-serif; font-size: 22px">
    	NRIT offices are at Colors House, 4th floor ,Ruaraka
off Thika road at Outering Junction (300m from
Thika Road Overpass along Outering road)
    </p>
    <br/>
    <p style="font-family: sans-serif; font-size: 22px; text-align: center;">
    	NRIT Ltd,
P O Box: 76826 -00620,
<br/>
Nairobi, Kenya.
<br/>
Tel. +254-20 2526737 / 0722 863364
<br/>
Email: kmwamichwe@gmail.com
<br/>
Website: www.nrit.co.ke
    </p>

{% endblock %}