{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}


<div class="card" style="width: 80rem">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 30px; font-family: sans-serif; font-weight: 20px">Our Offices</h5>
    <p class="card-text">
    	NRIT offices are at Colors House, 4th floor ,Ruaraka
off Thika road at Outering Junction (300m from
Thika Road Overpass along Outering road)
    </p>
    <br/>
    <p style="text-align: center;">
    	NRIT Ltd,
P O Box: 76826 -00620,
<br/>
Nairobi, Kenya.
<br/>
Tel. +254-20 2526737 / 0722 863364
<br/>
Email: kmwamichwe@gmail.com
<br/>
Website: www.nrit.co.ke
    </p>

{% endblock %}