{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}corevalues{% endblock %}


{% block content %}

<div class="view overlay z-depth-1-half">
  <img class="card-img-top" src= "{% static 'images/corevalues.jpg' %}" alt="corevalues">
  <div class="mask rgba-white-light"></div>
  <div class="col-md-12">
    <hr>
    <h5 style="font-weight: 20px; font-family:cursive; font-size: 25px; color: red;">Our Corevalues</h5>
     <p>
    	<ul style= "font-weight: 20px; font-family:cursive; font-size: 25px;">	
    		<li>
    			Professionalism
    		</li>

    		<li>
    			Teamwork
    		</li>

    		<li>
    			Quality and Efficiency
    		</li>

			<li>
    			Customer Care and Focus
    		</li>

			<li>
    			Innovative
    		</li>

			<li>
    			Integrity, Transparency and Accountability
    		</li>

			<li>
    			Building partnerships
    		</li>

    {% endblock %}