{% extends 'base.html' %}

{% load static %}

{% block title %}OurClientele{% endblock %}

{% block content %}

<div class="card" style="width: 70rem">
  <img class="card-img-top" src="{% static 'images/home.jpg' %}"alt="nrit">
  <div class="card-body">
    <h5 class="card-title" style="font-size: 30px; font-family: sans-serif; font-weight: 20px">NRIT has a wide range of clients that include:</h5>
    <p>
    	<ul>
    		
    		<li>
    			Central Government, County Government
and Government agencies
    		</li>

    		<li>
    			Private companies
    		</li>

    		<li>
    			NGOs
    		</li>

			<li>
    			International Organizations
    		</li>

			<li>
    			Faith Based Organizations
    		</li>

			<li>
    			Community Based Organizations
    		</li>

    	</ul>

    </p>

{% endblock %}