{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}OurClientele{% endblock %}

{% block content %}

<div class="view overlay z-depth-1-half">
  <img class="card-img-top" src= "{% static 'images/roadforest.jpg' %}" alt="roadforest">
  <div class="mask rgba-white-light"></div>
    <h5 style="font-weight: 20px; font-family:cursive; font-size: 25px; color: red;">NRIT has a wide range of clients that include:</h5>
    <p>
    	<ul style="font-family: sans-serif; font-size: 22px">
    		
    		<li>
    			Central Government, County Government
and Government agencies
    		</li>

    		<li>
    			Private companies
    		</li>

    		<li>
    			NGOs
    		</li>

			<li>
    			International Organizations
    		</li>

			<li>
    			Faith Based Organizations
    		</li>

			<li>
    			Community Based Organizations
    		</li>

    	</ul>

    </p>

{% endblock %}